button:focus {outline:0;}

body {
	background:#F8ECC2;
	padding:0;
	margin:0;
	font-weight: bold;
	overflow:hidden;
}

.canvas canvas {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0px;
	z-index: 0;
}

.panel {
	height: 48px;
	width: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 10;
	position: absolute;
	top: 0px;
}

.panel .btn {
	height: 32px;
	width: 32px;
	margin: 8px;
	margin-left: 104px;
	border: none;
	background: transparent;
	font-size: 24px;
}

.panel .btn:hover {
	background: rgba(0, 0, 0, 0.5);
}

.panel .btn:active {
	box-shadow: 0 0;
	transform: translate(4px, 4px);
}

.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.glyphicon-plus:before{content:"\2b"}